@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  
}

body {
  color: rgb(13, 15, 15);
  background-color: #f7f1e3;
}
